/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*content*/

body{
    line-height: 1.5;
}
.box{
    display: inline-block;
   
    width:100%;
    padding: 70px 0;
   



}
.header{
    background-color: #2D3040;
}
h2{
    text-align: center;
    font-size:30px;
    
    
    color: white;
    

}
nav{
    text-align: center;
    font-size: 18px;
    word-spacing: 10px; 
     
}
a{
    text-decoration: none;
    color: white;
   
    
}
h1{
    
    margin-left: 150px;
    font-size: 40px;
    color: white;
}
hr{
    width: 1060px;
    
    
}
h4{
    margin-left: 150px;
    margin-top: 30px;
    color:#8E9099;
    word-spacing: 2px;
    
}
.section1{
    background-color: #4C5C96;
}
.section2{
    background-color: #45558D;
}
.section3{
    background-color: #3F4E85;
}

h3{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    margin-left: 150px;
    font-size: 25px;
    word-spacing: 1px;

}
.img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 30px;
}
p{
    margin-left: 150px;
    font-size: 20px;
    margin-top: 5px;
    color: #D8DAE5;
   padding-right: 90px;
   word-spacing: 2px;
}
h5{
    color: white;
    margin-left: 150px;
    margin-top: 15px;
}

.box3{
    display: inline-block;
    background-color: #45558D;
    width:100%;
    height:500px;
    

}
.box4{
    display: inline-block;
    background-color: #3F4E85;
    width:100%;
    height:500px;
    
}
.foot{
    
    background-color: #2D3040;
    width:100%;
    padding: 20px 0;
    

}
small{
    margin-left: 150px;
    
    font-size: 20px;
    color: #8E9099;
    
    
}



